@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow+Condensed:wght@300&family=Jost:wght@300&family=Permanent+Marker&family=Rubik:wght@500;800&family=Ubuntu:ital,wght@0,500;1,500&display=swap");
body {
  box-sizing: border-box;
  /* font-family: "Permanent Marker", cursive; */
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
